@page "/"

@inject AuthenticationStateProvider AuthProvider
@inject IAuctionService _db

<PageTitle>Leilões</PageTitle>

@if (auctions == null)
{
    <p>Loading...</p>
}
else
{
   foreach (var auction in auctions)
   {
        <p>@auction.Product.Name</p>
   }
}

@code {
    public List<AuctionModel> auctions { get; set; }

    protected override async Task OnInitializedAsync()
    {
       auctions = await _db.GetAuctions();
    }
}
