@page "/login"
@layout NoLayout

@inject IUserService _db
@inject IJSRuntime js
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavManager

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms

<div class="flex flex-col justify-center items-center h-screen">
    <div class="flex items-center mb-6">
      <img class="h-28 w-auto" src="assets/logo.png" alt="Maçã">
      <p class="text-6xl">Maçã</p>
    </div>
    <div class="w-full max-w-[430px]">
        <div class="bg-pcs-lightest-gray rounded-md px-8 pt-6 pb-8 mb-4">
            <div>
                <p class="text-4xl font-extrabold text-center mb-4">Entrar</p>
            </div>
            <EditForm EditContext="_loginFormContext" OnValidSubmit="() => Authenticate()">
                <DataAnnotationsValidator />
                <div class="my-4 text-xs">
                    <InputText @bind-Value="_loginModel.Email" class="border border-solid rounded-xl w-full py-3 px-3 text-gray-700" type="text" placeholder="Email" />
                    <div class="pl-3 text-pcs-red">
                        <ValidationMessage For="@(() => _loginModel.Email)" />
                    </div>
                </div>
                <div class="mb-2 text-xs">
                    <InputText @bind-Value="_loginModel.Password" class="border border-solid rounded-xl w-full py-3 px-3 text-gray-700" type="password" placeholder="Password" />
                    <div class="pl-3 text-pcs-red">
                        <ValidationMessage For="@(() => _loginModel.Password)" />
                    </div>
                </div>
                <div class="flex flex-col space-y-2 items-center justify-center">
                    <button class="bg-pcs-black hover:bg-scs-gray text-white font-bold py-2.5 px-10 rounded-md focus:outline-none focus:shadow-outline" type="submit">
                        <p class="font-extrabold">Confirmar</p>
                    </button>
                    <div class="text-xs">
                        <p>Não tem conta? <a href="/register" class="text-pcs-blue hover:text-scs-blue underline">Registe-se</a></p>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private class LoginModel
    {
        [Required(ErrorMessage = "O campo email é obrigatório")]
        public string Email { get; set; }
        [Required(ErrorMessage = "O campo password é obrigatório")]
        public string Password { get; set; }

        public LoginModel()
        {
            Email = "";
            Password = "";
        }
    }

    private EditContext? _loginFormContext { get; set; }
    private ValidationMessageStore? _loginValidationMessageStore { get; set; }

    private LoginModel _loginModel = new LoginModel();

    protected override void OnInitialized()
    {
        _loginFormContext = new EditContext(_loginModel);
        _loginValidationMessageStore = new ValidationMessageStore(_loginFormContext);
    }

    private async Task Authenticate()
    {
        var account = await _db.GetUser(_loginModel.Email);
        if (account == null || account.Password != _loginModel.Password)
        {
            await js.InvokeVoidAsync("alert", "Credenciais inválidas");
            return;
        }

        var ourProvider = (AuthProvider)AuthProvider;
        await ourProvider.UpdateAuthenticationState(new UserSession
        {
            Email = account.Email,
            Role = account.RoleString,
        });

        NavManager.NavigateTo("/", true);
    }
}
