<header class="bg-white">
  <nav class="mx-auto flex max-w-7xl items-center justify-between px-8">
    <div class="flex flex-1">
      <div class="flex items-center">
        <img class="h-28 w-auto" src="assets/logo.png" alt="Maçã">
        <p class="text-4xl">Maçã</p>
      </div>
    </div>
    <div class="flex gap-x-28">
      <a href="#" class="text-md font-medium text-gray-900 underline">Leilões</a>
      <a href="#" class="text-md font-medium text-gray-900">Minhas licitações (1)</a>
      <a href="#" class="text-md font-medium text-gray-900">Leilões ganhos</a>
    </div>
    <div class="flex flex-1 space-x-8 items-center justify-end">
      <div class="flex flex-col items-center">
        <p class="text-green-700 underline">313.60€</p>
        <p class="text-xs text-gray-400">761.90€ pendentes</p>
      </div>
      <div class="space-x-2">
        <a href="#" class="text-md text-gray-900">Meu Perfil</a>
        <a href="#" class="text-xs text-gray-600">Sair</a>
      </div>
    </div>
  </nav>
</header>
