@page "/"

@using OnlineAuctions.Data
@using OnlineAuctions.Data.Models

@inject IUserData _db

<div class="flex flex-row space-x-1">
    @if (users == null)
    {
        <div>Loading...</div>
    }
    else
    {
        @foreach (var user in users)
        {
            <div class="flex flex-col">
                <div>@user.Name</div>
            </div>
        }
    }
</div>

@code {
    private List<UserModel> users;

    protected override async Task OnInitializedAsync()
    {
        users = await _db.GetUsers();
    }
}
