@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter.ttf')
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto.ttf')
}

* {
    font-family: 'Inter', sans-serif;
}

#company-title {
    font-family: 'Roboto', sans-serif;
}

.invalid {
    border-width: 0.1rem !important;
    border: 1px solid red;
}

.active-link {
    text-decoration: underline !important;
}
